/*added by self*/
.list-group-item-cust {
	padding-left: 0px;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
}

.list-group-addon {
  padding: 10px 10px;
  font-size: 15px;
  display:inline;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.label-group-custom {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 3px;
}

/* css for hr one to eight */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
	}

	hr.style-eight {
	    padding: 0;
	    border: none;
	    border-top: medium double #333;
	    color: #333;
	    text-align: center;
	}
	hr.style-eight:after {
	    content: "ยง";
	    display: inline-block;
	    position: relative;
	    top: -0.7em;
	    font-size: 1.5em;
	    padding: 0 0.25em;
	    background: white;
	}


/*for ajax waitting effect*/
#breath-light {
	/*padding: 7px;*/
	line-height:1.42857143;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
  border-radius: 3px;
	text-align:center;
	vertical-align:middle;


  background: SPRINGGREEN;

  box-shadow: 0 0 60px #FFFFFF;

  -webkit-animation: breath 3s;
          animation: breath 3s;

  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

}

@-webkit-keyframes breath {
  0%    {opacity: 0.1;}
  60%   {opacity:   1;}
  100%  {opacity: 0.1;}
}
@-o-keyframes breath {
  0%    {opacity: 0.1;}
  60%   {opacity:   1;}
  100%  {opacity: 0.1;}
}
@-moz-keyframes breath {
  0%    {opacity: 0.1;}
  60%   {opacity:   1;}
  100%  {opacity: 0.1;}
}
@keyframes breath {
  0%    {opacity: 0.1;}
  60%   {opacity:   1;}
  100%  {opacity: 0.1;}
}
