<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="static/img/favicon.png">

    <title>Weimob Count SLA</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="/static/css/amazeui.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- baice -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!--external js-->
    <script type="text/javascript" src="/static/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-export.js"></script>
    <script type="text/javascript" src="/static/js/tableExport.js"></script>
</head>