<div class="sBlock">
    <div class="panel-heading">
        <p class="panel-title">
            <span class="glyphicon glyphicon-tasks"></span>
            文章目录
            <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse"
                  data-target="#category-list"></span>
        </p>
    </div>
    <ul id="category-list" class="collapse in">
        <li><a href="">python</a></li>
        <li><a href="">nginx</a></li>
        <li><a href="">zabbix</a></li>
        <li><a href="">golang</a></li>
    </ul>
</div>