<div class="sBlock">
    <div class="panel-heading">
        <p class="panel-title">
            <span class="glyphicon glyphicon-tags"></span>
            标签云
            <span class="pull-right glyphicon glyphicon-chevron-up btn panel-collapse" data-toggle="collapse"
                  data-target="#tagcloud-list"></span>
        </p>
    </div>

    <ul id="tagcloud-list" class="collapse in">
        <li><a href="">python</a></li>
        <li><a href="">nginx</a></li>
        <li><a href="">zabbix</a></li>
        <li><a href="">golang</a></li>
    </ul>
</div>