{% include 'head.html' %}

<body class="login-body">

<div class="container">

    <form class="form-signin" action="{{ url_for('user.login') }}" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Email" autofocus
                   name="accountNumber">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <label class="checkbox">
                <input type="checkbox" value="remember_me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#forget"> Forgot Password?</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            <div>
                <a href="#" class="am-icon-md am-icon-qq col-md-2"></a>
                <a href="#" class="am-icon-md am-icon-github col-md-2"></a>
                <a href="#" class="am-icon-md am-icon-weixin col-md-8"></a>
            </div>
            {% if form.errors %}
                <ul>
                    {% for name, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-danger">The user or password is error or empty!</p>
            {% endif %}
            <div class="registration">
                Don't have an account yet?
                <span>
                    <a data-toggle="modal" href="{{ url_for('user.register') }}"> Sign Up</a>
                </span>
            </div>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forget"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off"
                               class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>
</body>